* {
  box-sizing: border-box;
}

body {
background-color:#B7ADAD;
  font-family: Arial, sans-serif;
  margin: 0;
}

header {
  background-color:RGB(0,204,255);
  color: white;
  text-align: center;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f2f2f2;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: #333;
  text-align: center;
  padding: 14px 16px;
  text-decoration